.bash_history
.bash_logout
.bashrc
.profile
.motd_shown
.vscode/
.idea/
.cache/
.dotnet/
.landscape/
.vscode-server/
*.log
*.tmp
.DS_Store
node_modules/
myenv/
__pycache__/
.sudo_as_admin_successful
voicevox_engine-linux-cpu-x64-0.24.1/
.npm
.local
.wget-hsts
.ollama/
